Source: ros-indigo-squirrel-motion-planner-msgs
Section: misc
Priority: extra
Maintainer: Philipp Karkowski <philkark@cs.uni-bonn.de>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin, ros-indigo-message-generation, ros-indigo-std-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-indigo-squirrel-motion-planner-msgs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-message-runtime, ros-indigo-std-msgs
Description: Package defining services for 8dof planninn
